.footrt_padre{
    background-color: black;
    color: aliceblue;
    width: 100%;
    height:80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.caja_amarilla{
    background-color: yellow;
    width: 30%;
    height: 10px;
    display: flex;
}





.caja_roja{
    background-color: red;
    width: 30%;
    height: 50px;
    display: flex;
    margin: 10px
}
.caja_azul{
    background-color: blue;
    width: 30%;
    height: 50px;
    display: flex;
    margin: 10px
}